<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net48" />
  <package id="Antlr4" version="4.6.6" targetFramework="net48" developmentDependency="true" />
  <package id="Antlr4.CodeGenerator" version="4.6.6" targetFramework="net48" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net48" />
  <package id="ASCOM.Platform" version="6.5.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Fastenshtein" version="1.0.0.8" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NINA.Astrometry" version="2.0.0.2001-beta" targetFramework="net48" />
  <package id="NINA.Core" version="2.0.0.2001-beta" targetFramework="net48" />
  <package id="NINA.Profile" version="2.0.0.2001-beta" targetFramework="net48" />
  <package id="Nito.AsyncEx.Context" version="5.1.2" targetFramework="net48" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net48" />
  <package id="Nito.Disposables" version="2.2.1" targetFramework="net48" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.115.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
</packages>